[MASTER]
fail-under=10.0
ignore=CVS
jobs=0
limit-inference-results=100
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
disable=missing-module-docstring

[REFACTORING]
max-nested-blocks=5

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4

[TYPECHECK]
ignore-mixin-members=yes
ignore-none=yes
ignore-on-opaque-inference=yes
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1
signature-mutators=

[FORMAT]
indent-after-paren=4
indent-string='    '
max-line-length=100
max-module-lines=1000
single-line-class-stmt=no
single-line-if-stmt=no

[VARIABLES]
allow-global-unused-variables=yes
dummy-variables-rgx=_.*
ignored-argument-names=_.*
init-import=no

[SPELLING]
max-spelling-suggestions=4
spelling-store-unknown-words=no

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
include-naming-hint=no
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
no-docstring-rgx=_.*|setup
property-classes=abc.abstractproperty
variable-naming-style=snake_case

[STRING]
check-quote-consistency=no
check-str-concat-over-line-jumps=no

[DESIGN]
max-args=5
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=2

[IMPORTS]
allow-wildcard-with-all=no
analyse-fallback-blocks=no

[CLASSES]
defining-attr-methods=__init__
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls

[EXCEPTIONS]
overgeneral-exceptions=BaseException, Exception
